<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/01_reset.css" />
    <link rel="stylesheet" href="/stylesheets/02_theme.css" />
    <link rel="stylesheet" href="/stylesheets/03_header.css" />
    <link rel="stylesheet" href="/stylesheets/04_lnb.css" />
    <link rel="stylesheet" href="/stylesheets/05_footer.css" />
    <link rel="stylesheet" href="/stylesheets/06_component.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= title %> / <%= subtitle %></title>
  </head>
  <body>
    <% include ../layout/header-normal.ejs %> <% include
    ../layout/header-min.ejs %>
    <main>
      <div class="page-header">
        <div class="page-header-title">기일별검색</div>
        <div class="page-header-metadata">
          <div class="page-header-subtitle">입찰 예정일에 따라 경매 물건을 찾아보세요</div>
          <div class="page-header-breadcrumb">
            <div class="page-header-icon" data-size="24x24"></div>
            <div class="page-header-divider">/</div>
            <div class="page-header-link">경매</div>
            <div class="page-header-divider">/</div>
            <div class="page-header-link">기일별검색</div>
          </div>
        </div>
      </div>
    </main>
    <% include ../layout/lnb.ejs %> <% include ../layout/footer.ejs %>
    <script src="/javascripts/header.js"></script>
    <script src="/javascripts/lnb.js"></script>
    <script src="/javascripts/component.js"></script>
  </body>
</html>
