<% const buttonLabel = label; %>

<div
  style="
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 8px;
    outline: 1px #458dd6 solid;
    outline-offset: -1px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    display: inline-flex;
  "
>
    <div
        data-size="24x24"
        style="width: 18px; height: 18px; position: relative; overflow: hidden"
    >
        <img src="/images/blue-print-button.svg" alt="blue-print-button" />
    </div>
  <div
    style="
      text-align: center;
      color: #458dd6;
      font-size: 12px;
      font-family: Pretendard;
      font-weight: 700;
      line-height: 28px;
      word-wrap: break-word;
    "
  >
    <%= buttonLabel %>
  </div>
</div>
