@import url("../font//Pretendard-1.3.9/pretendard.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: #00b7ff;
}

p,
ul,
li,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

body {
  padding: 0;
  margin: 0;
  min-width: 1150px;
  overflow-x: auto;
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-feature-settings: "liga" off, "clig" off;
  font-size: 14px;
  line-height: 18px; /* 138.462% */
  background-color: var(--bg-color-01);
  color: var(--text-color);
}
