:root{
  /* 본문 */
  --z-index-main: 1;

  /* 본문 > 보다는 위*/
  --z-index-main-over: 2;

  /* 푸터 */
  --z-index-footer: 3;

  /* 헤더 */
  --z-index-header: 4;

  /* 헤더 > 메인 내비게이션 팝업 */
  --z-index-main-menu-popup: 5;

  /* 헤더 메뉴 > 드롭다운 */
  /* 본문 > 드롭다운 */
  --z-index-list-dropdown-popup: 6;

  /* 본문 > 가리개 */
  --z-index-backdrop: 7;

  /* 헤더 > 서치 팝업 */
  --z-index-main-search-popup: 8;

  /* 헤더 > 서치 팝업 위의 서치 인풋 박스 */
  --z-index-main-search: 9;

  /* 사이드 메뉴 > 바 */
  --z-index-sidebar: 10;

  /* 사이드 메뉴 */
  --z-index-lnb: 11;
}

:root {
  --bg-color-01: #fff;
  --bg-color-02: #f6f7f9;
  --bg-color-03: #e6e8ea;
  --bg-color-04: #f5f5f5;
  --bg-color-05: #fff;
  --bg-color-06: #f8f8f8;
  --bg-color-07: rgba(0, 0, 0, 0.21);
  --bg-color-08: #F2F3F5;
  --bg-color-09: #F2F3F5;
  --bg-color-10: #fff;
  --bg-color-11: #EAECF0;
  --border-color-01: #dee0e5;
  --border-color-02: #d5d5d5;
  --border-color-03: #eaeaea;
  --border-color-04: transparent;
  --border-color-05: #e5e8eb;
  --border-color-06: #616161;
  --border-color-07: #c7c7c7;
  --border-color-08: #ececec;
  --border-color-09: #e2e2e2;
  --text-color-01: #000;
  --text-color-02: #595959;
  --text-color-03: #595959;
  --text-color-04: #000;
  --text-color-05: #000;
  --text-color-06: #595959;
  --text-color-07: #0062a8;
  --text-color-08: #4dac27;
  --text-color-09: #59616f;
  --text-color-10: #636363;
  --text-color-11: #555;
  --text-color-12: #1a1a1a;
  --text-color-13: #0e0e0e;
  --text-color-14: #37404c;
  --text-color-15: #595959;
  --text-color-16: #0091da;
  --text-color-17: #0e0e0e;
  --text-color-18: #373737;
  --text-color-19: #37404C;
  --text-color-20: #1A1A1A;
  --text-color-21: #000;
  --text-color-22: #595959;
  --text-color-23: #333;
  --text-color-24: #888;
  --text-color-25: #6a707b;
  --text-color-26: #2f333b;
  --text-color-27: #7A818F;
  --text-color-28: #4E5968;
  --text-color-29: #6A707B;
  --text-color-30: #6A707B;
  --text-color-31: #0091DA;
  --text-color-32: #454C58;
  --text-color-33: #868686;
  --text-color-34: #2F333B;
  --text-color-35: #6B7280;
  --text-color-36: #6B7280;
  --scrollbar-thumb-color: rgba(0, 0, 0, 0.5);
  --scrollbar-thumb-color-02: #ccc;
  --scrollbar-bg-color-02: #f4f6f8;
  --icon-favorite: url("/images/icon-lnb-favorite-light.svg");
  --icon-recent: url("/images/icon-lnb-recent-light.svg");
  --icon-arrow: url("/images/icon-lnb-top-arrow-light.svg");
  --icon-theme: url("/images/icon-lnb-theme-light.svg");
  --icon-logo: url("/images/logo-light.png");
  --icon-angle-down: url("/images/icon-angle-down-light.svg");
  --icon-angle-down-wide: url("/images/icon-angle-down-wide-light.svg");
  --icon-angle-down-green: url("/images/icon-arrow-green.svg");
  --icon-arrow-right: url("/images/icon-arrow-right-light.svg");
  --icon-x: url("/images/icon-x-light.svg");
  --icon-star-fill: url("/images/icon-star-fill-light.svg");
  --icon-star: url("/images/icon-star-light.svg");
  --icon-heart: url("/images/icon-heart-light.svg");
  --icon-alarm: url("/images/icon-alarm-light.svg");
  --icon-search: url("/images/icon-search-light.svg");
  --icon-check: url("/images/icon-check-light.svg");
  --icon-pg-double-arrow-left: url("/images/pg-double-arrow-left-light.svg");
  --icon-pg-arrow-left: url("/images/pg-arrow-left-light.svg");
  --icon-lnb-plus: url("/images/icon-lnb-plus-light.svg");
  --hover-color-01: #0091da;
  --hover-icon-heart: url("/images/icon-heart-dark.svg");
  --hover-icon-alarm: url("/images/icon-alarm-dark.svg");
  --box-shadow-01: rgba(0, 0, 0, 0.2);
  --box-shadow-02: rgba(0, 0, 0, 0.09);
}

.dark-theme {
  --bg-color-01: #17171c;
  --bg-color-02: #101013;
  --bg-color-03: transparent;
  --bg-color-04: #101013;
  --bg-color-05: #101013;
  --bg-color-06: #2E3851;
  --bg-color-07: rgba(0, 0, 0, 0.72);
  --bg-color-08: #404040;
  --bg-color-09: #373737;
  --bg-color-10: #101013;
  --bg-color-11: #373737;
  --border-color-01: #51515f;
  --border-color-02: #4b4b4b;
  --border-color-03: #313131;
  --border-color-04: #fff;
  --border-color-05: #8b97ae;
  --border-color-06: #808080;
  --border-color-07: #34343E;
  --border-color-08: #707070;
  --border-color-09: #354157;
  --text-color-01: #fff;
  --text-color-02: #bbb;
  --text-color-03: #7e7e7e;
  --text-color-04: #d2d2d2;
  --text-color-05: #c5c5c5;
  --text-color-06: #c5c5c5;
  --text-color-07: #fff;
  --text-color-08: #fff;
  --text-color-09: #fff;
  --text-color-10: #c3c3c3;
  --text-color-11: #e7e7e9;
  --text-color-12: #bebebe;
  --text-color-13: #fff;
  --text-color-14: #cdcdcd;
  --text-color-15: #d8d8d8;
  --text-color-16: #a5ce4f;
  --text-color-17: #d5d5d5;
  --text-color-18: #c5c5c5;
  --text-color-19: #C5C5C5;
  --text-color-20: #fff;
  --text-color-21: #e9e9e9;
  --text-color-22: #b0b0b0;
  --text-color-23: #d4d4d4;
  --text-color-24: #AFAFAF;
  --text-color-25: #d1d1d1;
  --text-color-26: #A5CE4F;
  --text-color-27: #bbb;
  --text-color-28: #fff;
  --text-color-29: #ececec;
  --text-color-30: #f8f8f8;
  --text-color-31: #FFF;
  --text-color-32: #D9DDE2;
  --text-color-33: #B0B0B0;
  --text-color-34: #FFF;
  --text-color-35: #D9DDE2;
  --text-color-36: #354157;
  --scrollbar-thumb-color: rgba(255, 255, 255, 0.5);
  --scrollbar-thumb-color-02: #ccc;
  --scrollbar-bg-color-02: #313131;
  --icon-favorite: url("/images/icon-lnb-favorite-dark.svg");
  --icon-recent: url("/images/icon-lnb-recent-dark.svg");
  --icon-arrow: url("/images/icon-lnb-top-arrow-dark.svg");
  --icon-theme: url("/images/icon-lnb-theme-dark.svg");
  --icon-logo: url("/images/logo-dark.png");
  --icon-angle-down: url("/images/icon-angle-down-dark.svg");
  --icon-angle-down-wide: url("/images/icon-angle-down-wide-dark.svg");
  --icon-angle-down-green: url("/images/icon-lnb-top-arrow-dark.svg");
  --icon-arrow-right: url("/images/icon-arrow-right-dark.svg");
  --icon-x: url("/images/icon-x-dark.svg");
  --icon-star-fill: url("/images/icon-star-fill-dark.svg");
  --icon-star: url("/images/icon-star-dark.svg");
  --icon-heart: url("/images/icon-heart-dark.svg");
  --icon-alarm: url("/images/icon-alarm-dark.svg");
  --icon-search: url("/images/icon-search-dark.svg");
  --icon-check: url("/images/icon-check-dark.svg");
  --icon-pg-double-arrow-left: url("/images/pg-double-arrow-left-dark.svg");
  --icon-pg-arrow-left: url("/images/pg-arrow-left-dark.svg");
  --icon-lnb-plus: url("/images/icon-lnb-plus-dark.svg");
  --hover-icon-heart: url("/images/icon-heart-light.svg");
  --hover-icon-alarm: url("/images/icon-alarm-light.svg");
  --hover-color-01: #a5ce4f;
  --box-shadow-01: rgba(255, 255, 255, 0.2);
  --box-shadow-02: rgba(255, 255, 255, 0.09);
}

/* Chrome, Edge, Safari 브라우저 기본*/
::-webkit-scrollbar {
  width: 8px; /* 스크롤바 너비 */
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent; /* 트랙 배경 */
}

/* 화살표 제거 (크롬에선 보통 자동 제거됨) */
::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

/* 특정 div */
.custom-scroll {
  overflow-y: auto;
}

/* Webkit 브라우저용 스크롤바 스타일 */
.custom-scroll::-webkit-scrollbar {
  width: 4px; /* 얇은 스크롤바 */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color-02);
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: var(--scrollbar-bg-color-02);
}
