:root {
  --bg-color-01: #fff;
  --bg-color-02: #f6f7f9;
  --bg-color-03: #e6e8ea;
  --border-color-01: #dee0e5;
  --border-color-02: #d5d5d5;
  --border-color-03: #eaeaea;
  --border-color-04: transparent;
  --border-color-05: #e5e8eb;
  --text-color-01: #000;
  --text-color-02: #595959;
  --text-color-03: #595959;
  --text-color-04: #070606;
  --text-color-05: #000;
  --text-color-06: #595959;
  --text-color-07: #0062a8;
  --text-color-08: #4dac27;
  --text-color-09: #59616f;
  --text-color-10: #636363;
  --text-color-11: #555;
  --text-color-12: #1a1a1a;
  --text-color-13: #0e0e0e;
  --text-color-14: #37404c;
  --text-color-15: #595959;
  --text-color-16: #0091da;
  --scrollbar-thumb-color: rgba(0, 0, 0, 0.5);
  --icon-favorite: url("/images/icon-lnb-favorite-light.svg");
  --icon-recent: url("/images/icon-lnb-recent-light.svg");
  --icon-top: url("/images/icon-lnb-top-arrow-light.svg");
  --icon-theme: url("/images/icon-lnb-theme-light.svg");
  --icon-logo: url("/images/logo-light.png");
  --hover-color-01: #0091da;
}

.dark-theme {
  --bg-color-01: #17171c;
  --bg-color-02: #101013;
  --bg-color-03: transparent;
  --border-color-01: #51515f;
  --border-color-02: #4b4b4b;
  --border-color-03: #313131;
  --border-color-04: #fff;
  --border-color-05: #8b97ae;
  --text-color-01: #fff;
  --text-color-02: #bbb;
  --text-color-03: #7e7e7e;
  --text-color-04: #c5c5c5;
  --text-color-05: #c5c5c5;
  --text-color-06: #c5c5c5;
  --text-color-07: #fff;
  --text-color-08: #fff;
  --text-color-09: #fff;
  --text-color-10: #c3c3c3;
  --text-color-11: #e7e7e9;
  --text-color-12: #bebebe;
  --text-color-13: #fff;
  --text-color-14: #cdcdcd;
  --text-color-15: #d8d8d8;
  --text-color-16: #a5ce4f;
  --scrollbar-thumb-color: rgba(255, 255, 255, 0.5);
  --icon-favorite: url("/images/icon-lnb-favorite-dark.svg");
  --icon-recent: url("/images/icon-lnb-recent-dark.svg");
  --icon-top: url("/images/icon-lnb-top-arrow-dark.svg");
  --icon-theme: url("/images/icon-lnb-theme-dark.svg");
  --icon-logo: url("/images/logo-dark.png");
  --hover-color-01: #0091da;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px; /* 스크롤바 너비 */
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent; /* 트랙 배경 */
}

/* 화살표 제거 (크롬에선 보통 자동 제거됨) */
::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}
