header.header-normal {
  display: flex;
  justify-content: center;
  align-items: start;
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 66px;
  padding-top: 7px;
  width: 100%;
  min-width: 1150px;
  border-bottom: 1px solid var(--border-color-01);
  background-color: var(--bg-color-01);
  overflow: visible;
  z-index: var(--z-index-header);
}
/* 
@media (max-width: 1149px) {
  header.header-normal {
    justify-content: flex-start;
  }
} */

header.header-normal .clear-button,
header.header-min .clear-button{
  appearance: none;
  all: unset; 
  cursor: pointer;
  display: flex;
  align-items: center;
}

header.header-normal .container {
  width: 1084px;
  height: 104px;
  min-width: 1084px;
  max-width: 1084px;
  border: 1px solid transparent;
  color: var(--text-color-01);
  margin: 0 auto;
}

/* info-area */
header.header-normal .container .info-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 20px;
  margin-top: 18px;
}

header.header-normal .container .info-area .left-menu,
header.header-normal .container .info-area .right-menu {
  display: flex;
  position: relative;
}

header.header-normal .container .info-area .left-menu .logo {
  display: flex;
}

header.header-normal .container .info-area .left-menu .logo a {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  color: var(--text-color-01);
  text-align: center;
  font-size: 18.89px;
  font-style: normal;
  font-weight: 800;
  line-height: var(--line-height-20_3, 20.3px); /* 107.464% */
}

header.header-normal .container .info-area .left-menu .logo .icon-logo {
  display: block;
  width: 130px;
  height: 21px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--icon-logo);
}

header.header-normal .container .multi-search,
header.header-min .container .multi-search {
  position: absolute;
  z-index: var(--z-index-main-search);
  left: 100%;
  top: -50%;
  display: flex;
  width: 485px;
  height: 42px;
  padding: 8.13px 16px 8.12px 19px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  margin-left: 26px;
  border-radius: 38px;
  border: 1px solid #0091da;
  background-color: var(--bg-color-01);
}

header.header-normal .container .multi-search .left-side,
header.header-min .container .multi-search .left-side {
  display: flex;
  align-items: center;
  gap: 8px;
}

header.header-normal .container .multi-search .left-side,
header.header-min .container .multi-search .left-side{
  width: 100%;
}

header.header-normal .container .multi-search .categoty,
header.header-min .container .multi-search .categoty {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 600;
    color: var(--text-color-1);
}

header.header-normal .container .icon-angle-down,
header.header-min .container .icon-angle-down {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    background-image: var(--icon-angle-down);
}

header.header-normal .container .multi-search .vertical-line,
header.header-min .container .multi-search .vertical-line {
  width: 1px;
  height: 14px;
  border-left: 1px solid #cdcdcd;
}

header.header-normal .container .multi-search .left-side .search-box{
  display: flex;
  width: 79%;
}

header.header-normal .container .multi-search input,
header.header-min .container .multi-search input {
  appearance: none;
  width: 100%;
  border: none;
  outline: none;
  color: var(--text-color-01);
  font-size: 14px;
  font-style: normal;
  background-color: transparent;
}

header.header-normal .container .multi-search input::placeholder,
header.header-min .container .multi-search input::placeholder{
  color: var(--text-color-03);
}

header.header-normal .container .info-area .left-menu .multi-search .search-button img{
  /* margin-top: 3px; */
}

header.header-normal .container .info-area .right-menu .site-direction dl {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

header.header-normal .container .info-area .right-menu .site-direction dd {
  color: var(--text-color-06);
  position: relative;
  padding: 0 10px;
}

header.header-normal .container .info-area .right-menu .site-direction dd a{
  color: var(--text-color-06);
  text-decoration: none;
}

header.header-normal .container .info-area .right-menu .site-direction dd + dd::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background-color: var(--border-color-05);
}

header.header-normal .container .info-area .right-menu .site-direction dl dd:first-of-type{
  padding-right: 0;
}

header.header-normal .container .info-area .right-menu .site-direction .needs-underline:hover{
  text-decoration: underline;
  text-decoration-color: var(--text-color-01);
}

header.header-normal
  .container
  .info-area
  .right-menu
  .site-direction
  dl
  dd.logged-in{
    position: relative;
    display: flex;
    align-items: center;
  }

header.header-normal
  .container
  .info-area
  .right-menu
  .site-direction
  dl
  dd.logged-in .name {
  font-weight: 700;
}

header.header-normal .icon-arrow {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 18px;
  transform: rotate(180deg);
  background-image: var(--icon-arrow);
}

header.header-normal
  .container
  .info-area
  .right-menu
  .site-direction
  dl
  dd.benefits {
    position: relative;
    display: flex;
    color: var(--text-color-05);
    font-weight: 600;
}

.list-dropdown-popup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: calc(100% + 12px);
  left: 0;
  display: none;
  width: 95px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--border-color-02);
  background-color: var(--bg-color-01);
  z-index: var(--z-index-list-dropdown-popup);
}

.list-dropdown-popup#categoryPopup, .list-dropdown-popup#min-categoryPopup{
  left: -20px;
  top: calc(100% + 19px);
}

.list-dropdown-popup ul {
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.list-dropdown-popup li{
  color: var(--text-color-18);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
}

.list-dropdown-popup li.active{
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20.3px;
  color: var(--text-color-18);
}

.list-dropdown-popup li button{
  appearance: none;
  all: unset; 
  cursor: pointer;
}

.list-dropdown-popup li:hover{
  text-decoration: underline;
  text-decoration-color: var(--text-color-01);
}

/* menu-area */
header.header-normal .container .menu-area{
  position: relative;
  display: flex;
  padding: 10px 10px 0px 10px;
  justify-content: space-between;
  align-items: flex-start;
}

header.header-normal .container .menu-area .left-menu menu{
  display: flex;
  gap: 45px;
}

header.header-normal .container .menu-area .left-menu menu li,
header.header-min .container .menu-area .left-menu menu li {
  color: var(--text-color-06);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20.3px;
  padding: 0 15px 10px;
}

header.header-normal .container .menu-area .left-menu menu li:hover,
header.header-min .container .menu-area .left-menu menu li:hover{
  color: var(--text-color-07);
  border-bottom: 3px solid var(--text-color-07);
}

header.header-normal .container .menu-area .left-menu menu li.active,
header.header-min .container .menu-area .left-menu menu li.active {
  color: var(--text-color-07);
  border-bottom: 3px solid var(--text-color-07);
}

header.header-normal .container .menu-area .right-menu dl,
header.header-min .container .menu-area .left-menu dl {
  display: flex;
  gap: 19px;
}

header.header-normal .container .menu-area .right-menu dl dd,
header.header-min .container .menu-area .left-menu dl dd {
  color: var(--text-color-08);
  font-weight: 700;
  line-height: 20.3px;
  font-size: 14px;
  font-style: normal;
}

header.header-normal .container .menu-area .right-menu dl dd .icon-arrow.apply-for-trial{
  background-image: var(--icon-angle-down-green);
}

header.header-normal .container .menu-area .right-menu dl dd a{
  color: var(--text-color-08);
  text-decoration: none;
}

header.header-normal .container .menu-area .right-menu dl dd .needs-underline:hover{
  text-decoration: underline;
  text-decoration-color: var(--text-color-08);
}

.contents-dropdown-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(100% + 12px);
  left: 0;
  display: none;
  width: 100%;
  /* padding: 10px; */
  /* border-radius: 10px; */
  /* border: 1px solid var(--border-color-02); */
  /* background-color: var(--bg-color-01); */
  z-index: var(--z-index-list-dropdown-popup);
}

.contents-dropdown-popup .contents{
  width: 1134px;
}

.contents-dropdown-popup .contents img{
  width: 100%;
}

header.header-min {
  display: none;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  padding-right: 66px;
  width: 100%;
  height: 52px;
  min-width: 1150px;
  border-bottom: 1px solid var(--border-color-01);
  background-color: var(--bg-color-01);
}

header.header-min .container {
  width: 1084px;
  height: 52px;
  min-width: 1084px;
  max-width: 1084px;
  border: 1px solid transparent;
  color: var(--text-color-01);
  margin: 0 auto;
}

header.header-min .container {
  height: 52px;
}

header.header-min .container .menu-area {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

header.header-min .container .menu-area .left-menu{
  padding-left: 10px;
  padding-top: 4px;
}

header.header-min .container .menu-area .left-menu menu {
  display: flex;
  gap: 35px;
}

header.header-min .container .menu-area .left-menu menu li {
  padding: 10px 10px 12px;
}

header.header-min .container .multi-search {
  width: 296px;
  top: 0;
  left: -330px;
}

header.header-min .container .multi-search .left-side .search-box{
  display: flex;
  width: 61%;
}

header.header-min .container .menu-area {
  padding-top: 3px;
  height: 52px;
}

header.header-min .container .menu-area .right-menu {
  position:relative;
  display: flex;
  gap: 7px;
}

header.header-min .container .menu-area .right-menu .multi-search,
header.header-min .container .menu-area .right-menu .avatar {
  display: flex;
}

.main-menu-popup{
  display: none;
  position: absolute;
  z-index: var(--z-index-main-menu-popup);
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 10px 1px 0px 1px;
  gap: 17px;
  border-radius: 13px;
  border: 1px solid var(--border-color-06);
  background-color: var(--bg-color-05);
  top: calc(100% + 6px);
  left: -4px;
}

.main-menu-popup .top-side{
  display: flex;
  align-items: flex-start;
  padding-left: 9px;
  /* gap: 10px; */
  align-self: stretch;
}

.main-menu-popup .top-side .has-icon {
  display: block;
  position: relative;
}

.main-menu-popup .top-side .has-icon::after {
  content: "";
  background-image: var(--icon-arrow-right);
  width: 5px;
  height: 8px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.main-menu-popup .top-side ul{
  /* width: 104px; */
}

.main-menu-popup .top-side ul li{
  cursor: pointer;
  width: 107px;
  padding: 8px 12px;
  color: var(--text-color-05);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.14px;
  transition: opacity 0.2s ease;
}

.main-menu-popup .top-side ul.auction{
  margin-left: 0px;
  width: 107px;
}

.main-menu-popup .top-side ul.auction li .has-icon::after{
  right: -6px;
}

.main-menu-popup .top-side ul.public-auction{
  margin-left: 0px;
}

.main-menu-popup .top-side ul.map{}

.main-menu-popup .top-side ul.edu-data{
  margin-left: 20px;
}

.main-menu-popup .top-side ul.statistics{
  margin-left: 42px;
}

.main-menu-popup .top-side ul.favorite{
  margin-left: 0px;
}

.main-menu-popup .top-side ul.mypage{
  margin-left: 21px;
}

.main-menu-popup .top-side ul.mypage li{
  width: 127px;
}

.main-menu-popup .top-side li:hover {
  font-weight: 600;
  border-radius: 8px;
  background-color: var(--bg-color-06);
}

.main-menu-popup .top-side li:hover .has-icon::after {
  opacity: 1;
}

.main-menu-popup .bottom-side{
  padding: 23px 10px;
  gap: 10px;
  align-self: stretch;
  border-top: 1px solid var(--border-color-07);
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  background-color: var(--bg-color-04);
}

.main-menu-popup .bottom-side .title {
  color: var(--text-color-04);
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14;
}

.main-menu-popup .bottom-side .support {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.main-menu-popup .bottom-side .support ul{
  display: flex;
  gap: 10px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}

.main-menu-popup .bottom-side .support ul li a {
  color: var(--text-color-19);
  text-decoration: none;
}

.main-menu-popup .bottom-side .support ul li:hover a {
  text-decoration: underline;
  text-decoration-color: var(--text-color-19);
}

.main-menu-popup .bottom-side .support button{
  color: var(--text-color-20);
  font-weight: 600;
}

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index-backdrop);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.21);
}

.search-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: var(--z-index-main-search-popup);
}

.search-popup .bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.21);
}

.search-popup .content{
  display: flex;
  position: absolute;
  top: 2px;
  left: calc(25% - -58px);
  width: 902px;
  height: 866px;
  border-radius: 16px;
  background: #FFF;
}