header.header-normal {
  display: flex;
  justify-content: center;
  align-items: start;
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 66px;
  padding-top: 7px;
  width: 100%;
  min-width: 1150px;
  border-bottom: 1px solid var(--border-color-01);
  background-color: var(--bg-color-01);
  overflow: visible;
  z-index: var(--z-index-header);
}
/* 
@media (max-width: 1149px) {
  header.header-normal {
    justify-content: flex-start;
  }
} */

header.header-min {
  display: none;
  justify-content: center;
  align-items: start;
  position: fixed;
  top: 0;
  left: 0;
  padding-right: 66px;
  width: 100%;
  height: 52px;
  min-width: 1150px;
  border-bottom: 1px solid var(--border-color-01);
  background-color: var(--bg-color-01);
}

header.header-normal .clear-button{
  appearance: none;
  all: unset; 
  cursor: pointer;
  display: flex;
  align-items: center;
}

header.header-normal .container,
header.header-min .container {
  width: 1084px;
  min-width: 1084px;
  max-width: 1084px;
  border: 1px solid transparent;
  color: var(--text-color-01);
  margin: 0 auto;
}

header.header-normal .container {
  height: 104px;
}

header.header-min .container {
  height: 52px;
}

/* info-area */
header.header-normal .container .info-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 20px;
}

header.header-normal .container .info-area .left-menu,
header.header-normal .container .info-area .right-menu {
  display: flex;
}

header.header-normal .container .info-area .left-menu .logo {
  display: flex;
}

header.header-normal .container .info-area .left-menu .logo a {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  color: var(--text-color-01);
  text-align: center;
  font-size: 18.89px;
  font-style: normal;
  font-weight: 800;
  line-height: var(--line-height-20_3, 20.3px); /* 107.464% */
}

header.header-normal .container .info-area .left-menu .logo .icon-logo {
  display: block;
  width: 130px;
  height: 21px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--icon-logo);
}

header.header-normal .container .info-area .left-menu .multi-search {
  display: flex;
  width: 485px;
  height: 42px;
  padding: 8.13px 16px 8.12px 19px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  margin-left: 26px;
  border-radius: 38px;
  border: 1px solid #0091da;
  background-color: var(--bg-color-01);
}

header.header-normal .container .info-area .left-menu .multi-search .left-side,
header.header-normal
  .container
  .info-area
  .left-menu
  .multi-search
  .right-side {
  display: flex;
  align-items: center;
  gap: 8px;
}

header.header-normal .container .info-area .left-menu .multi-search .left-side{
  width: 100%;
}

header.header-normal
  .container
  .info-area
  .left-menu
  .multi-search
  .categoty {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 600;
    color: var(--text-color-1);
}

header.header-normal .container .icon-angle-down {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    background-image: var(--icon-angle-down);
}

header.header-normal
  .container
  .info-area
  .left-menu
  .multi-search
  .vertical-line {
  width: 1px;
  height: 14px;
  border-left: 1px solid #cdcdcd;
}

header.header-normal .container .info-area .left-menu .multi-search .left-side .search-box{
  display: flex;
  width: 79%;
}

header.header-normal .container .info-area .left-menu .multi-search input {
  appearance: none;
  width: 100%;
  border: none;
  outline: none;
  color: var(--text-color-01);
  font-size: 14px;
  font-style: normal;
  background-color: transparent;
}

header.header-normal .container .info-area .left-menu .multi-search input::placeholder{
  color: var(--text-color-03);
}

header.header-normal .container .info-area .left-menu .multi-search .search-button img{
  /* margin-top: 3px; */
}

header.header-normal .container .info-area .right-menu .site-direction dl {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

header.header-normal .container .info-area .right-menu .site-direction dd {
  color: var(--text-color-06);
  position: relative;
  padding: 0 10px;
}

header.header-normal .container .info-area .right-menu .site-direction dd a{
  color: var(--text-color-06);
  text-decoration: none;
}

header.header-normal .container .info-area .right-menu .site-direction dd + dd::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background-color: var(--border-color-05);
}

header.header-normal .container .info-area .right-menu .site-direction dl dd:first-of-type{
  padding-right: 0;
}

header.header-normal .container .info-area .right-menu .site-direction .needs-underline:hover{
  text-decoration: underline;
  text-decoration-color: var(--text-color-01);
}

header.header-normal
  .container
  .info-area
  .right-menu
  .site-direction
  dl
  dd.logged-in{
    position: relative;
    display: flex;
    align-items: center;
  }

header.header-normal
  .container
  .info-area
  .right-menu
  .site-direction
  dl
  dd.logged-in .name {
  font-weight: 700;
}

header.header-normal .icon-arrow {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 18px;
  transform: rotate(180deg);
  background-image: var(--icon-arrow);
}

header.header-normal
  .container
  .info-area
  .right-menu
  .site-direction
  dl
  dd.benefits {
    position: relative;
    display: flex;
    color: var(--text-color-05);
    font-weight: 600;
}

.list-dropdown-popup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: calc(100% + 12px);
  left: 0;
  display: none;
  width: 95px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--border-color-02);
  background-color: var(--bg-color-01);
  z-index: var(--z-index-list-dropdown-popup);
}

.list-dropdown-popup#categoryPopup{
  left: -20px;
  top: calc(100% + 19px);
}

.list-dropdown-popup ul {
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.list-dropdown-popup li{
  color: var(--text-color-18);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
}

.list-dropdown-popup li .active{
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20.3px;
  color: var(--text-color-18);
}

.list-dropdown-popup li button{
  appearance: none;
  all: unset; 
  cursor: pointer;
}

.list-dropdown-popup li:hover{
  text-decoration: underline;
  text-decoration-color: var(--text-color-01);
}

/* menu-area */
header.header-normal .container .menu-area,
header.header-min .container .menu-area {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

header.header-min .container .menu-area {
  height: 52px;
}

header.header-normal .container .menu-area .left-menu ul,
header.header-min .container .menu-area .left-menu ul {
  display: flex;
  gap: 58px;
}

header.header-normal .container .menu-area .left-menu ul li,
header.header-min .container .menu-area .left-menu ul li {
  color: var(--text-color-06);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20.3px;
}

header.header-normal .container .menu-area .left-menu ul li.active,
header.header-min .container .menu-area .left-menu ul li.active {
  color: var(--text-color-07);
}

header.header-normal .container .menu-area .right-menu dl,
header.header-min .container .menu-area .right-menu dl {
  display: flex;
  gap: 19px;
}

header.header-normal .container .menu-area .right-menu dl dd,
header.header-min .container .menu-area .right-menu dl dd {
  color: var(--text-color-08);
  font-weight: 700;
  line-height: 20.3px; /* 145% */
  font-size: 14px;
  font-style: normal;
}

header.header-normal .container .menu-area .right-menu dl dd .icon-arrow.apply-for-trial{
  background-image: var(--icon-angle-down-green);
}

header.header-normal .container .menu-area .right-menu dl dd a{
  color: var(--text-color-08);
  text-decoration: none;
}

header.header-normal .container .menu-area .right-menu dl dd .needs-underline:hover{
  text-decoration: underline;
  text-decoration-color: var(--text-color-08);
}

.contents-dropdown-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(100% + 12px);
  left: 0;
  display: none;
  width: 100%;
  /* padding: 10px; */
  /* border-radius: 10px; */
  /* border: 1px solid var(--border-color-02); */
  /* background-color: var(--bg-color-01); */
  z-index: var(--z-index-list-dropdown-popup);
}

.contents-dropdown-popup .contents{
  width: 1134px;
}

.contents-dropdown-popup .contents img{
  width: 100%;
}

header.header-min .container .menu-area .right-menu {
  display: flex;
}
header.header-min .container .menu-area .right-menu .multi-search {
  display: flex;
}
