nav.nav-right-side .clear-button {
  appearance: none;
  all: unset; 
  cursor: pointer;
  display: flex;
  align-items: center;
}

nav.nav-right-side .nav-wrapper {
  position: fixed;
  display: flex;
  width: 65px;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  top: 0;
  right: 0;
  border-left: 1px solid var(--border-color-01);
  background-color: var(--bg-color-02);
  z-index: var(--z-index-lnb);
}

nav.nav-right-side .under-prepare .backdrop{
  position: fixed;
  inset: 0;
  top: 0;
  left: 0;
  z-index: var(--z-index-backdrop);
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  background: var(--bg-color-07);
}

nav.nav-right-side .under-prepare .backdrop.show{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

nav.nav-right-side .under-prepare .content {
  display: none;
  font-style: normal;
  font-weight: 600;
  line-height: 13.3px;
}

nav.nav-right-side .under-prepare .sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 390px;
  height: 100vh;
  background: white;
  box-shadow: -2px 0 10px var(--box-shadow-01);
  transform: translateX(100%); /* right를 음수 값으로 제어 해도 되긴하는데.. 위치계를 사용하지 말고 `transfrom` 을 사용하여, GPU와 모바일에서 성능을 최적화 한다 */
  transition: transform 0.3s ease-in-out;
  z-index: var(--z-index-sidebar);
  background-color: var(--bg-color-10);
  overflow: hidden;
}

nav.nav-right-side .under-prepare .sidebar.open{
  transform: translateX(-65px);
}

nav.nav-right-side .under-prepare .sidebar .container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 20px 18px;
}

nav.nav-right-side .under-prepare .sidebar .container .not-logged-in {
  display: flex;
  padding: 18px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 12px;
  background: var(--bg-color-01);
  box-shadow: 0px 0px 14px 0px var(--box-shadow-02);
  margin-bottom: 21px;
}

nav.nav-right-side .under-prepare .sidebar .container .not-logged-in .title {
  color: var(--text-color-01);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 21.3px
}

nav.nav-right-side .under-prepare .sidebar .container .not-logged-in .links a {
  color: var(--text-color-16);
  text-decoration: none;
}

nav.nav-right-side .under-prepare .sidebar .container .not-logged-in .links a:nth-of-type(2){
  margin-left: 10px;
}

nav.nav-right-side .under-prepare .sidebar .container .not-logged-in .links a:hover{
  text-decoration: underline;
}

nav.nav-right-side .under-prepare .sidebar .container .logged-in {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

nav.nav-right-side .under-prepare .sidebar .container .logged-in .content {
  flex: 1;
  display: none;
  flex-direction: column;
  overflow: hidden;
  gap: 21px;
}


nav.nav-right-side .under-prepare .sidebar .container .logged-in .content .pagenation {
  padding: 7px 14px;
}

nav.nav-right-side .under-prepare .sidebar .container .logged-in .content .pagenation ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

nav.nav-right-side .under-prepare .sidebar .container .logged-in .content .pagenation ul li {
  width: 42px;
  height: 42px;
  font-weight: 400;
  line-height: normal;
  color: var(--text-color-35);
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav.nav-right-side .under-prepare .sidebar .container .logged-in .content .pagenation ul li .active {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #EFF6FF;
  color: var( --text-color-36);
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  padding: 0 17px;
}

nav.nav-right-side .under-prepare .sidebar .container .logged-in .content .pagenation ul li .icon {
  width: 14px;
  height: 14px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

nav.nav-right-side .under-prepare .sidebar .container .logged-in .content .pagenation ul li .icon.icon-double-left {
  background-image: var(--icon-pg-double-arrow-left);
}
nav.nav-right-side .under-prepare .sidebar .container .logged-in .content .pagenation ul li .icon.icon-left {
  background-image: var(--icon-pg-arrow-left);
}
nav.nav-right-side .under-prepare .sidebar .container .logged-in .content .pagenation ul li .icon.icon-right {
  background-image: var(--icon-pg-arrow-left);
  transform: scaleX(-1);
}
nav.nav-right-side .under-prepare .sidebar .container .logged-in .content .pagenation ul li .icon.icon-double-right {
  background-image: var(--icon-pg-double-arrow-left);
  transform: scaleX(-1);
}


nav.nav-right-side .under-prepare .sidebar .container .logged-in .content .top-side {
  width: 100%;
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
}

nav.nav-right-side .under-prepare .sidebar .container .logged-in .content .top-side .title {
  font-weight: 700;
  font-size: 17px;
  color: var(--text-color-32);
  line-height: 17px;
}

nav.nav-right-side .under-prepare .sidebar .container .logged-in .content .top-side .option {
  display: flex;
  align-items: center;
  color: var(--text-color-33);
}

nav.nav-right-side .under-prepare .sidebar .container .logged-in .content .top-side .option .icon.icon-check {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 18px;
  background-image: var(--icon-check);
  margin-right: 2px;
}

nav.nav-right-side .under-prepare .sidebar .container .logged-in .content .button-lists ul {
  display: flex;
  flex-wrap: wrap;
  padding: 3px;
  align-items: flex-start;
  gap: 3px;
}

nav.nav-right-side .under-prepare .sidebar .container .logged-in .content .button-lists li button {
  border: none;
  padding: 11px 14px;
  border-radius: 18px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

nav.nav-right-side .under-prepare .sidebar .container .logged-in .content .button-lists li button.blue {
  color: #fff;
  background-color: #458DD6;
}

nav.nav-right-side .under-prepare .sidebar .container .logged-in .content .button-lists li button.gray {
  color: var(--text-color-28);
  background-color: var(--bg-color-08);
}

nav.nav-right-side .under-prepare .sidebar .container .logged-in .content .button-lists li button .txt {
  white-space: nowrap;
}

nav.nav-right-side .under-prepare .sidebar .container .logged-in .content .button-lists li button .count {
  margin-left: 4px;
  font-weight: 700;
}

nav.nav-right-side .under-prepare .sidebar .container .logged-in .content .button-lists li button.blue .count{}
nav.nav-right-side .under-prepare .sidebar .container .logged-in .content .button-lists li button.gray .count{
  color: var(--text-color-16);
}

nav.nav-right-side .under-prepare .sidebar .container .logged-in .content .content-counts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 13.3px;
}

nav.nav-right-side .under-prepare .sidebar .container .logged-in .content .content-counts .left .count {
  color: var(--text-color-16);
}

nav.nav-right-side .under-prepare .sidebar .container .logged-in .content .content-counts .left .txt {
  color: var(--text-color-28);
}

nav.nav-right-side .under-prepare .sidebar .container .logged-in .content .content-counts .right {
  display: flex;
  gap: 5px;
}

nav.nav-right-side .under-prepare .sidebar .container .logged-in .content .content-counts .right button {
  height: 36px;
  padding: 0px 11px;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 13.3px;
  color: var(--text-color-28);
  border-radius: 8px;
  background-color: var(--bg-color-11);
}

nav.nav-right-side .under-prepare .sidebar .container .logged-in .content .content-counts .right button .icon.icon-angle-down-wide {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  background-image: var(--icon-angle-down-wide);
}

nav.nav-right-side .under-prepare .sidebar .container .logged-in .content .content-counts .right button .icon.icon-angle-down-wide.flip {
  transform: rotate(180deg);
}

nav.nav-right-side .custom-scroll {
  flex: 1;
  overflow-y: auto; /* 여기만 스크롤 허용 */
  min-height: 0;
}

nav.nav-right-side .recent-content-lists-container.custom-scroll {
  padding-right: 3px;
}

nav.nav-right-side .scroll-wrapper {
  margin-right: 15px;
}

nav.nav-right-side .alarm-content-lists-container .list {
  margin-bottom:10px;
}

nav.nav-right-side .alarm-content-lists-container .list + .list {
  padding-top: 10px;
  border-top: 1px solid var(--border-color-09);
}

nav.nav-right-side .alarm-content-lists-container .list .list-top {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  padding-bottom: 4px;
}

nav.nav-right-side .alarm-content-lists-container .list .list-top .bedge.green {
  color: #477016;
  padding: 4px 10px;
  font-weight: 600;
  line-height: 20px;
  border-radius: 7px;
  background: #DAE7BF;
}

nav.nav-right-side .alarm-content-lists-container .list .list-top .txt {
  font-weight: 500;
  color: var(--text-color-02);
}

nav.nav-right-side .alarm-content-lists-container .list .list-top .txt .bold {
  font-weight: 700;
}

nav.nav-right-side .alarm-content-lists-container .list .list-middle {
  font-size: 14.5px;
  line-height: 27.3px;
  font-style: normal;
  font-weight: 500;
}

nav.nav-right-side .alarm-content-lists-container .list .list-middle .description {
  color: var(--text-color-34);
}

nav.nav-right-side .alarm-content-lists-container .list .list-middle .description .important {
  color: var(--text-color-16);
}

nav.nav-right-side .alarm-content-lists-container .list .list-middle .title-data {
  display: flex;
  gap: 10px;
}

nav.nav-right-side .alarm-content-lists-container .list .list-middle .title-data .title {
  color: var(--text-color-02);
}

nav.nav-right-side .alarm-content-lists-container .list .list-middle .title-data .data {
  font-weight: 600;
  color: var(--text-color-34);
}

nav.nav-right-side .alarm-content-lists-container .list .list-middle .result-txt {
  color: #0091DA;
}

nav.nav-right-side .alarm-content-lists-container .list .list-bottom {
  display: flex;
  gap: 10px;
  align-items: center;
}

nav.nav-right-side .alarm-content-lists-container .list .list-bottom time {
  color: var(--text-color-28);
}

nav.nav-right-side .alarm-content-lists-container .list .list-bottom .bedge.new {
  color: #F53B32;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  border-radius: 12px;
  border: 1px solid #F53B32;
  padding: 0px 7px;
}

nav.nav-right-side .alarm-content-lists-container .more {
  margin-top: 11px;
  color: var(--text-color-01);
  padding: 10px 0;
}

nav.nav-right-side .alarm-content-lists-container .more button.clear-button {
  width: 100%;
  justify-content: center;
}

nav.nav-right-side .alarm-content-lists-container .more .icon.icon-angle-down {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  background-image: var(--icon-angle-down);
}



/* search-pop 과 동일한 루틴 */
nav.nav-right-side .under-prepare .content .recent-content-lists {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 27.3px;
}

nav.nav-right-side .under-prepare .content .recent-content-lists + .recent-content-lists {
  padding-top: 15px;
  border-top: 1px solid var(--border-color-09);
}

nav.nav-right-side .under-prepare .content .recent-content-lists .lists {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
}

nav.nav-right-side .under-prepare .content .recent-content-lists .lists .left {
  display: flex;
  flex-direction: column;
}

nav.nav-right-side .under-prepare .content .recent-content-lists .lists .left .item-info,
nav.nav-right-side .under-prepare .content .recent-content-lists .lists .left .item-info .bedges {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  gap: 10px;
}

nav.nav-right-side .under-prepare .content .recent-content-lists .lists .left .item-info .sequence{
  color: var(--text-color-02);
}

nav.nav-right-side .under-prepare .content .recent-content-lists .lists .left .item-info .sequence .bold {
  font-weight: 700;
}

nav.nav-right-side .under-prepare .content .recent-content-lists .lists .left .item-info .bedges{
  font-size: 12px;
  line-height: 20px;
}

nav.nav-right-side .under-prepare .content .recent-content-lists .lists .left .item-info .bedges .bedge {
  padding: 0px 8px;
  border-radius: 7px;
}

nav.nav-right-side .under-prepare .content .recent-content-lists .lists .left .item-info .bedges .bedge.blue{
  background-color: #C8E0F3;
  color: #2D5F9D;
}

nav.nav-right-side .under-prepare .content .recent-content-lists .lists .left .item-info .bedges .bedge.green{
  background-color: #DAE7BF;
  color: #477016;
}

nav.nav-right-side .under-prepare .content .recent-content-lists .lists .left .address {
  font-size: 14.5px;
  color: var(--text-color-26);
  margin-top: -5px;
}

nav.nav-right-side .under-prepare .content .recent-content-lists .lists .left .rows {}
nav.nav-right-side .under-prepare .content .recent-content-lists .lists .left .rows .row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: -5px;
}

nav.nav-right-side .under-prepare .content .recent-content-lists .lists .left .rows .row .label {
  font-size: 13px;
  color: var(--text-color-27);
}

nav.nav-right-side .under-prepare .content .recent-content-lists .lists .left .rows .row .value {
  font-size: 14.5px;
  font-weight: 600;
}

nav.nav-right-side .under-prepare .content .recent-content-lists .lists .left .rows .row .value.top{
  color: var(--text-color-27);
}

nav.nav-right-side .under-prepare .content .recent-content-lists .lists .left .rows .row .value.middle{
  color: var(--text-color-16);
}

nav.nav-right-side .under-prepare .content .recent-content-lists .lists .left .rows .row .value.bottom{
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

nav.nav-right-side .under-prepare .content .recent-content-lists .lists .left .rows .row .value.bottom .date{
  color: var(--text-color-28);
}

nav.nav-right-side .under-prepare .content .recent-content-lists .lists .left .rows .row .value.bottom .d-day{
  color: var(--text-color-16);
  text-indent: 3px;
}

nav.nav-right-side .under-prepare .content .recent-content-lists .lists .right .mask{
  width: 112px;
  height: 111px;
  border-radius: 10px;
  background-color: var(--bg-color-06);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav.nav-right-side .under-prepare .content .recent-content-lists .lists .right .mask img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav.nav-right-side .under-prepare .content .recent-content-lists .bottom {}

nav.nav-right-side .under-prepare .content .recent-content-lists .bottom .twin {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.nav-right-side .under-prepare .content .recent-content-lists .bottom .left {
  width: 300px;
}

nav.nav-right-side .under-prepare .content .recent-content-lists .bottom .left .bedges,
nav.nav-right-side .under-prepare .content .recent-content-lists .bottom .left .rating-memo {
  display: flex;
}

nav.nav-right-side .under-prepare .content .recent-content-lists .bottom .left .bedges {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  padding-top: 13px;
  padding-bottom: 11px;
  gap: 10px;
  color: var(--text-color-29);
}

nav.nav-right-side .under-prepare .content .recent-content-lists .bottom .left .bedges .bedge{
  padding: 0 8px;
  background-color: var(--bg-color-09);
  border-radius: 7px;
  white-space: nowrap;
}

nav.nav-right-side .under-prepare .content .recent-content-lists .bottom .left .bedges .bedge.blue{
  background-color: #C8E0F3;
  color: #2D5F9D;
}

nav.nav-right-side .under-prepare .content .recent-content-lists .bottom .left .bedges .bedge.green{
  background-color: #DAE7BF;
  color: #477016;
}

nav.nav-right-side .under-prepare .content .recent-content-lists .bottom .right {
  display: flex;
  align-items: center;
}

nav.nav-right-side .under-prepare .content .recent-content-lists .bottom .right .icon{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

nav.nav-right-side .under-prepare .content .recent-content-lists .bottom .right .icon.icon-heart{
  width: 24px;
  height: 24px;
  background-image: var(--icon-heart);
}

nav.nav-right-side .under-prepare .content .recent-content-lists .bottom .right .icon.icon-heart.active,
nav.nav-right-side .under-prepare .content .recent-content-lists .bottom .right .icon.icon-heart:hover{
  background-image: var(--hover-icon-heart);
}

nav.nav-right-side .under-prepare .content .recent-content-lists .bottom .right .icon.icon-alarm{
  width: 18px;
  height: 20px;
  background-image: var(--icon-alarm);
}

nav.nav-right-side .under-prepare .content .recent-content-lists .bottom .right .icon.icon-alarm.active,
nav.nav-right-side .under-prepare .content .recent-content-lists .bottom .right .icon.icon-alarm:hover{
  background-image: var(--hover-icon-alarm);
}

nav.nav-right-side .under-prepare .content .recent-content-lists .bottom .rating-memo {
  display: flex;
}

nav.nav-right-side .under-prepare .content .recent-content-lists .bottom .rating-memo .rating{
  display: flex;
  align-items: center;
}

nav.nav-right-side .under-prepare .content .recent-content-lists .bottom .rating-memo .rating .icon{
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--icon-star);
}

nav.nav-right-side .under-prepare .content .recent-content-lists .bottom .rating-memo .rating .icon.icon-star-fill{
  background-image: var(--icon-star-fill);
}

nav.nav-right-side .under-prepare .content .recent-content-lists .bottom .rating-memo .memo{
  font-size: 13px;
  color: var(--text-color-27);
  margin-left: 4px;
}

header .under-prepare .search-popup .bottom-side {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 28px 10px 17px;
  border-top: 1px solid var(--border-color-08);
  color: var(--text-color-21);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 27.3px;
}






/* nav 고정 버튼 */
nav.nav-right-side .nav-wrapper .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 21px 10px 10px 10px;
}

nav.nav-right-side .nav-wrapper .container .icon {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

nav.nav-right-side .nav-wrapper .container .top-side,
nav.nav-right-side .nav-wrapper .container .bottom-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

nav.nav-right-side .nav-wrapper .container button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 13.3px;
  color: #888;
}

nav.nav-right-side .nav-wrapper .container .alarm {
  position: relative;
}

nav.nav-right-side .nav-wrapper .container .alarm .icon {
  width: 21px;
  height: 21px;
  margin-bottom: 6px;
}

nav.nav-right-side .nav-wrapper .container .alarm .bedge {
  position: absolute;
  display: flex;
  width: 28px;
  height: 15px;
  padding: 1px 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  right: -2px;
  top: -8px;
  border-radius: 9px;
  background-color: #f53b32;
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: -0.44px;
}

nav.nav-right-side .nav-wrapper .container .favorite .icon {
  width: 42px;
  height: 36px;
  aspect-ratio: 7/6;
  margin-bottom: 4px;
  background-image: var(--icon-favorite);
}

nav.nav-right-side .nav-wrapper .container .favorite p {
  color: var(--text-color-10);
}

nav.nav-right-side .nav-wrapper .container .recent .icon {
  width: 31px;
  height: 30px;
  background-image: var(--icon-recent);
}

nav.nav-right-side .nav-wrapper .container .top .icon {
  width: 18px;
  height: 18px;
  background-image: var(--icon-arrow);
}

nav.nav-right-side .nav-wrapper .container .top p {
  color: var(--text-color-11);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

nav.nav-right-side .nav-wrapper .container .theme .icon {
  width: 38px;
  height: 40px;
  background-image: var(--icon-theme);
}
