button.button {
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 8px;
  width: 125px;
  height: 44px;
  text-align: center;
  font-weight: 500;
  line-height: 16px;
  word-wrap: break-word;
  font-size: 16px;
}

button.button.basic-white {
  background-color: #fff;
  color: #030303;
  font-weight: 600;
}

button.button.basic-1 {
  background-color: #458dd6;
  color: #fff;
}

button.button.basic-2 {
  background-color: #f5c939;
  color: #060500;
}

button.button.basic-3 {
  background-color: var(--bg-color-03);
  color: var(--text-color-09);
  border: 1px solid var(--border-color-04);
}

button.button.basic-4 {
  background-color: #2d5f9d;
  color: #fff;
}

button.button.basic-5 {
  background-color: #f53b32;
  color: #fff;
}

button.button.basic-6 {
  width: auto;
  height: auto;
  font-weight: 700px;
  padding: 2px 13px 2px 35px;
  border: 1px solid #458dd6;
  background-color: transparent;
  background-image: url(/images/blue-print-button.svg);
  background-repeat: no-repeat;
  background-position: 13px center;
  background-size: 18px 18px;
  color: #458dd6;
  line-height: 28px;
}

button.button.basic-7 {
  background-color: transparent;
  color: #6a707b;
  font-weight: 600;
  font-size: 15px;
}

button.button.basic-8 {
  width: 90px;
  padding: 5px 8px;
  background-color: #458DD6;
  border: none;
  border-radius: 25px;
  color: #FFFFFF;
  font-size: 16px;
  font-family: 'Pretendard', sans-serif;
  font-weight: 500;
  line-height: 13.3px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

button.button.basic-9 {
  width: 90px;
  padding: 5px 8px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 25px;
  color: #4E5968;
  font-size: 16px;
  font-family: 'Pretendard', sans-serif;
  font-weight: 500;
  line-height: 13.3px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tag-blue {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #C8E0F3;
  color: #2D5F9D;
  padding: 2px 8px;
  border: none;
  border-radius: 8px;
  font-size: 12px;
  font-family: 'Pretendard', sans-serif;
  font-weight: 500;
  word-wrap: break-word;
  width: fit-content;
}

.tag-green {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #DAE7BF;
  color: #477016;
  padding: 2px 8px;
  border: none;
  border-radius: 8px;
  font-size: 12px;
  font-family: 'Pretendard', sans-serif;
  font-weight: 500;
  word-wrap: break-word;
  width: fit-content;
}

.tag-white {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #FFFFFF;
  color: #6A707B;
  padding: 8px;
  border: none;
  border-radius: 8px;
  font-size: 12px;
  font-family: 'Pretendard', sans-serif;
  font-weight: 500;
  line-height: 20px;
  word-wrap: break-word;
  width: fit-content;
}

.radio-label {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  margin-right: 10px;
}

.radio-input {
  position: absolute;
  opacity: 0;
}

.radio-visual {
  width: 22px;
  height: 22px;
  position: relative;
}

.radio-visual .radio-outer {
  width: 22px;
  height: 22px;
  background: #b8b8b8;
  border-radius: 9999px;
  position: absolute;
  top: 0;
  left: 0;
}

.radio-visual .radio-inner {
  width: 11px;
  height: 11px;
  background: white;
  border-radius: 9999px;
  position: absolute;
  top: 5.5px;
  left: 5.5px;
  opacity: 1;
  transition: opacity 0.2s;
}

.radio-text {
  color: var(--text-color-1);
  font-feature-settings: "liga" off, "clig" off;
  font-family: Pretendard;
  font-size: 15.5px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}

.radio-input:checked + .radio-visual .radio-outer {
  background: #458dd6;
}

.switch-unit {
  padding: 2px;
  background: #F2F2F2;
  border-radius: 4px;
  display: inline-flex;
  gap: 2px;
  font-family: Pretendard;
}

.switch-unit input[type="radio"] {
  display: none;
}

.switch-unit-label {
  padding: 5px 6px;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: #9794AA;
  background: transparent;
  transition: all 0.2s ease;
}

.switch-unit input[type="radio"]:checked + .switch-unit-label {
  background: white;
  color: black;
}

.switch-toggle {
  display: inline-block;
}

.switch-toggle-input {
  display: none;
}

.switch-toggle-label {
  width: 42px;
  height: 24.5px;
  background: #D1D5DB;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 0 3.5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.switch-toggle-circle {
  width: 17.5px;
  height: 17.5px;
  background: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.switch-toggle-input:checked + .switch-toggle-label {
  background: #458DD6;
}

.switch-toggle-input:checked + .switch-toggle-label .switch-toggle-circle {
  transform: translateX(17px);
}

.input {
  width: 200px;
  background: var(--bg-color-01);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Apple SD Gothic Neo', sans-serif;
}

.input-label {
  color: var(--component-input-color-01);
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 13px;
  line-height: 24px;
  padding-bottom: 5px;
}

.input-label-optional {
  color: #9794AA;
  font-size: 12px;
  line-height: 20px;
}

.input-field {
  background: var(--bg-color-01);
  width: 100%;
  height: 38px;
  padding: 7px 5px 7px 13px;
  border-radius: 4px;
  border: 1px solid #CAC9D6;
  font-size: 14px;
  color: #333;
  line-height: 24px;
  box-sizing: border-box;
  transition: border-color 0.2s ease;
  outline: none;
}

.input-field::placeholder {
  color: #CBCAD7;
}

.input-field:focus {
  border-color: #09AA5C;
}

.input-field:disabled {
  /* background-color: #11110D; */
  border-color: 1px #CBCAD7;
  color: #C4C4C4;
  cursor: not-allowed;
}
.input-field:disabled::placeholder {
  color: var(--G300, #CBCAD7);
}

.input-alert {
  color: var(--component-input-color-02);
  display: flex;
  align-items: center;
  gap: 4px;
  padding-top: 6px;
  font-size: 11px;
  font-weight: 400;
  line-height: 24px;
}

.select {
  position: relative;
  width: 180px;
  height: 38px;
  font-family: Inter, sans-serif;
}

.select-button {
  background: var(--bg-color-01);
  width: 100%;
  padding: 10.5px;
  border: 1px solid #D1D5DB;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: var(--text-color-35);
  cursor: pointer;
}

.select-button i {
  width: 24px;
  height: 24px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--icon-angle-down-wide);
}

.select-button span {
  flex: 1 1 0;
  color: var(--text-color-35);
  font-size: 14px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.2s ease-in-out;
}

.select-button span.placeholder {
  /* color: #9CA3AF; */
  color: var(--text-color-24);
}

.select-dropdown {
  background: var(--bg-color-01);
  display: none;
  position: absolute;
  margin-top: 10px;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  border: 1px solid #D1D5DB;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  z-index: var(--z-index-main-over);
}

.select-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select-dropdown button {
  width: 100%;
  padding: 10px;
  font-size: 13px;
  font-family: Inter, sans-serif;
  text-align: left;
  background: none;
  border: none;
  color: #6B7280;
  cursor: pointer;
}

.select.open .select-dropdown {
  display: block;
}

.checkbox {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 5px 15px 5px 0;
  font-family: 'Pretendard', sans-serif;
  font-size: 15.5px;
  font-weight: 600;
  line-height: 18px;
  color: var(--component-color-01);
  cursor: pointer;
  width: fit-content;
}

.checkbox input {
  display: none;
}

.checkbox-box {
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: 1px solid #ADB5BD;
  border-radius: 4px;
  position: relative;
  box-sizing: border-box;
}

.checkbox input:checked + .checkbox-box {
  background-color: #458DD6;
  border-color: #458DD6;
}

.checkbox input:checked + .checkbox-box::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 10px;
  border: solid #FFFFFF;
  border-width: 0 2px 2px 0;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.checkbox-label {
  display: flex;
  align-items: center;
}

.table {
  border-collapse: collapse;
  border: 1px solid #E2E2E2;
}

.table th {
  border: 1px solid #E2E2E2;
  padding: 8px;
  text-align: center;
  color: var(--component-color-01);
  /* color: #000000; */
  font-size: 15px;
  font-family: Pretendard;
  font-weight: 600;
  line-height: 28px;
  word-wrap: break-word"
}

.table td {
  border: 1px solid #E2E2E2;
  padding: 8px;
}

.table th {
  background-color: var(--component-table-bg-color-01);
  text-align: left;
}

.table td {
  background: var(--bg-color-01);
}

.page-header {
  align-self: stretch;
  height: 86px;
  padding: 20px 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
  margin: 0 10px;
}

.page-header-title {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--component-color-01);
  font-size: 25px;
  font-family: Pretendard, sans-serif;
  font-weight: 700;
  line-height: 21.75px;
  word-wrap: break-word;
}

.page-header-metadata {
  align-self: stretch;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.page-header-subtitle {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #595959;
  font-size: 14px;
  font-family: Pretendard, sans-serif;
  font-weight: 500;
  line-height: 14px;
  word-wrap: break-word;
}

.page-header-breadcrumb {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  padding: 1px 0;
}

.page-header-icon {
  width: 22px;
  height: 22px;
  position: relative;
  overflow: hidden;
  background-image: url(/images/breadcrumb-home.svg);
}

.page-header-divider {
  color: #A5A5A5;
  font-size: 11px;
  font-family: Pretendard, sans-serif;
  font-weight: 500;
  line-height: 21.75px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  word-wrap: break-word;
}

.page-header-link {
  color: #767676;
  font-size: 14px;
  font-family: Pretendard, sans-serif;
  font-weight: 700;
  line-height: 21.75px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  word-wrap: break-word;
}
