.component-button {
  padding: 10px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  width: var(--width);
  height: var(--height);
  background: var(--background);
  outline: var(--outline);
  outline-offset: var(--outline-offset);
}

.component-button-label {
  text-align: center;
  font-family: Pretendard;
  font-weight: 600;
  line-height: 16px;
  word-wrap: break-word;
  color: var(--color);
  font-size: var(--font-size);
}

button.button {
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 8px;
  width: 125px;
  height: 44px;
  text-align: center;
  font-weight: 500;
  line-height: 16px;
  word-wrap: break-word;
  font-size: 16px;
}

button.button.basic-white {
  background-color: #fff;
  color: #030303;
  font-weight: 600;
}

button.button.basic-1 {
  background-color: #458dd6;
  color: #fff;
}

button.button.basic-2 {
  background-color: #f5c939;
  color: #060500;
}

button.button.basic-3 {
  background-color: var(--bg-color-03);
  color: var(--text-color-09);
  border: 1px solid var(--border-color-04);
}

button.button.basic-4 {
  background-color: #2d5f9d;
  color: #fff;
}

button.button.basic-5 {
  background-color: #f53b32;
  color: #fff;
}

button.button.basic-6 {
  width: auto;
  height: auto;
  font-weight: 700px;
  padding: 2px 13px 2px 35px;
  border: 1px solid #458dd6;
  background-color: transparent;
  background-image: url(/images/blue-print-button.svg);
  background-repeat: no-repeat;
  background-position: 13px center;
  background-size: 18px 18px;
  color: #458dd6;
  line-height: 28px;
}

button.button.basic-7 {
  background-color: transparent;
  color: #6a707b;
  font-weight: 600;
  font-size: 15px;
}

.radio-label {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  margin-right: 10px;
}

.radio-input {
  position: absolute;
  opacity: 0;
}

.radio-visual {
  width: 22px;
  height: 22px;
  position: relative;
}

.radio-visual .radio-outer {
  width: 22px;
  height: 22px;
  background: #B8B8B8;
  border-radius: 9999px;
  position: absolute;
  top: 0;
  left: 0;
}

.radio-visual .radio-inner {
  width: 11px;
  height: 11px;
  background: white;
  border-radius: 9999px;
  position: absolute;
  top: 5.5px;
  left: 5.5px;
  opacity: 1;
  transition: opacity 0.2s;
}

.radio-text {
  font-size: 12px;
  font-family: Pretendard;
  font-weight: 600;
}

.radio-input:checked + .radio-visual .radio-outer {
  background: #458DD6;
}
