main {
  position: relative;
  padding-right: 66px;
  padding-top: 112px;
  color: var(--text-color-02);
}

main .main-wrap {
  position: relative;
  width: 1084px;
  min-height: 880px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  z-index: var(--z-index-main);
}