<footer>
  <div class="container">
    <div class="notice">공지사항</div>
    <div class="company-info">
      <div>나이스옥션</div>
      <ul>
        <li>개인정보 처리방침</li>
        <li>개인정보 처리방침</li>
        <li>개인정보 처리방침</li>
        <li>개인정보 처리방침</li>
        <li>개인정보 처리방침</li>
        <li>개인정보 처리방침</li>
      </ul>
    </div>
  </div>
</footer>
