<footer>
    <!-- 공지사항 -->
    <div class="notice">
      <div class="container">
        <h4 class="title">공지사항</h4>
        <a href="#" class="event">[이벤트] 오픈 이벤트 안내 (6/1 ~ 8/31)</a>
        <a href="#" class="more-info">더보기 +</a>
      </div>
    </div>

    <!-- 회사 정보 -->
    <div class="company-info">
      <div class="container">
        <!-- 로고 -->
        <div>
          <i class="logo"></i>
        </div>

        <!-- 약관 -->
        <menu class="terms">
          <li>개인정보 처리방침</li>
          <li>서비스 이용약관</li>
          <li>위치기반서비스 이용약관</li>
          <li>자주 묻는 질문</li>
          <li>투자 유의사항</li>
          <li>이용자권리 및 유의사항</li>
          <li>나이스욕션</li>
        </menu>
        
        <!-- 주소 -->  
        <address class="address">
          <span>주식회사 나이스옥션</span> 
          <span>대표: 이상묵</span>
          <span>주소: 서울특별시 금천구 디지털로 121, 7층 710호 (가산동, 에이스가산타워)</span>
        </address>

        <div class="customer">
          <span class="tel"> <a href="tel:01025112537">고객센터 010-2511-2537</a></span>
          <span>사업자등록번호: 340-88-03806</span>
          <span>통신판매업신고번호: 제0000-서울-0000호</span>
        </div>

        <!-- 안내문구 -->
        <small class="direction">
          나이스옥션에서 제공하는 투자 정보는 고객의 투자 판단을 위한 단순 참고용일 뿐, 투자 제안 및 권유를 위한 작성된 것이 아닙니다.
        </small>
      </div> 
    </div>
</footer>
