<header class="header-normal">
  <div class="container">
    <div class="info-area">
      <div>나이스옥션</div>
      <div class="multi-search">
        <div>사건번호</div>
        <div>주소 또는 사건번호 검색</div>
      </div>
      <div>
        <ul>
          <li>회원가입</li>
          <li>로그인</li>
          <li>회원혜택</li>
          <li>고객센터</li>
        </ul>
      </div>
    </div>
    <div class="menu-area">
      <div class="left-menu">
        <ul>
          <li>경매</li>
          <li>공매</li>
          <li>지도검색</li>
          <li>교육/자료실</li>
          <li>통계</li>
          <li>관심물건</li>
          <li>마이페이지</li>
        </ul>
      </div>
      <div class="right-menu">
        <ul>
          <li>요금안내</li>
          <li>무료체험신청</li>
        </ul>
      </div>
    </div>
  </div>
</header>
