<header class="header-normal">
  <div class="container">
    <!-- 1. layer -->
    <div class="info-area">
      <div class="left-menu">
        <div class="logo">
          <img src="/images/logo.svg" alt="logo" />
          <p>나이스옥션</p>
        </div>
        <div class="multi-search">
          <div class="left-side">
            <div>사건번호</div>
            <div class="vertical-line"></div>
            <div>
              <input type="text" placeholder="주소 또는 사건번호 검색" />
            </div>
          </div>
          <div class="right-side">
            <img src="/images/icon-search.svg" alt="search-icon" />
          </div>
        </div>
      </div>

      <div class="right-menu">
        <div class="site-direction">
          <dl>
            <dd>회원가입</dd>
            <dd>로그인</dd>
            <dd class="importance">회원혜택</dd>
            <dd>고객센터</dd>
          </dl>
        </div>
      </div>
    </div>

    <!-- 2. layer -->
    <div class="menu-area">
      <div class="left-menu">
        <ul>
          <li class="active">경매</li>
          <li>공매</li>
          <li>지도검색</li>
          <li>교육/자료실</li>
          <li>통계</li>
          <li>관심물건</li>
          <li>마이페이지</li>
        </ul>
      </div>
      <div class="right-menu">
        <dl>
          <dd>요금안내</dd>
          <dd>무료체험신청</dd>
        </dl>
      </div>
    </div>
  </div>
</header>
