<header class="header-min">
  <div class="container">
    <div class="menu-area">
      <div class="left-menu">
        <ul>
          <li>경매</li>
          <li>공매</li>
          <li>지도검색</li>
          <li>교육/자료실</li>
          <li>통계</li>
          <li>관심물건</li>
          <li>마이페이지</li>
        </ul>
      </div>
      <div class="right-menu">
        <div class="multi-search">
          <div>사건번호</div>
          <div>
            <input type="text" placeholder="주소 또는 사건번호 검색" />
          </div>
        </div>
        <div class="avatar">avatar</div>
      </div>
    </div>
  </div>
</header>
