<header class="header-normal">
  <div class="container">
    <!-- 1. layer -->
    <div class="info-area">
      <div class="left-menu">
        <div class="logo">
          <a href="/">
            <i class="icon-logo"></i>
          </a>
        </div>
        <div class="search-popup" style="display: none;">
          <div class="bg"></div>
          <div class='content'></div>
        </div>
        <div class="multi-search">
          <div class="left-side">
            <div class="categoty">
              <button type="button" class="clear-button" id="categoryToggleBtn">
                <span>사건번호</span>
                <i class="icon icon-angle-down"></i>
              </button>

              <div class="list-dropdown-popup" id="categoryPopup">
                <ul>
                  <li class="active"><button type="button">사건번호</button></li>
                  <li><button type="button">관심메모</button></li>
                  <li><button type="button">#태그</button></li>
                  <li><button type="button">용도</button></li>
                  <li><button type="button">감평사</button></li>
                  <li><button type="button">채무자</button></li>
                  <li><button type="button">채권자</button></li>
                </ul>
              </div>
            </div>
            <div class="vertical-line"></div>
            <div class="search-box">
              <input type="text" placeholder="주소 또는 사건번호 검색" />
            </div>
          </div>
          <div class="right-side">
            <button type="button" class="clear-button">
              <img src="/images/icon-search.svg" alt="search-icon" />
            </button>
          </div>
        </div>
      </div>

      <div class="right-menu">
        <div class="site-direction">
          <dl>
            <dd class="logged-in">
              <button type="button" class="needs-underline clear-button" id="loggedInToggleBtn">
                <span class="name">홍길동</span>님
                <i class="icon icon-angle-down"></i>
              </button>

              <div class="list-dropdown-popup" id="loggedInPopup">
                <ul>
                  <li><a href="#">sub-menu1</a></li>
                  <li><a href="#">sub-menu2</a></li>
                  <li><a href="#">sub-menu3</a></li>
                  <li><a href="#">...</a></li>
                </ul>
              </div>
            </dd>
            <dd>
              <a href="#" class="needs-underline">회원가입</a>
            </dd>
            <dd><a href="#" class="needs-underline">로그인</a></dd>
            <dd class="benefits">
              <button type="button" class="needs-underline clear-button" id="benefitsToggleBtn">
                <span>회원혜택</span>
                <i class="icon icon-arrow"></i>
              </button>

              <div class="list-dropdown-popup" id="benefitsPopup">
                <ul>
                  <li><a href="#">등급 혜택</a></li>
                  <li><a href="#">신규회원 혜택</a></li>
                </ul>
              </div>
            </dd>
            <dd><a href="#" class="needs-underline">고객센터</a></dd>
          </dl>
        </div>
      </div>
    </div>

    <!-- 2. layer -->
    <div class="menu-area">
      <div class="left-menu">
        <menu>
          <li class="menu-area-item active"><button type="button" class="clear-button">경매</button></li>
          <li class="menu-area-item"><button type="button" class="clear-button">공매</button></li>
          <li class="menu-area-item"><button type="button" class="clear-button">지도검색</button></li>
          <li class="menu-area-item"><button type="button" class="clear-button">교육/자료실</button></li>
          <li class="menu-area-item"><button type="button" class="clear-button">통계</button></li>
          <li class="menu-area-item"><button type="button" class="clear-button">관심물건</button></li>
          <li class="menu-area-item"><button type="button" class="clear-button">마이페이지</button></li>
        </menu>

        <div class="main-menu-popup">
          <div class="top-side">
            <ul class="auction">
              <li><span class="has-icon">종합검색</span></li>
              <li><span class="has-icon">지역별검색</span></li>
              <li><span class="has-icon">기일검색</span></li>
              <li><span class="has-icon">법원별검색</span></li>
              <li><span class="has-icon">차량·중기</span></li>
              <li><span class="has-icon">아파트</span></li>
              <li><span class="has-icon">추천물건</span></li>
              <li><span class="has-icon">조회수TOP50</span></li>
            </ul>
            <ul class="public-auction">
              <li><span class="has-icon">종합검색</span></li>
            </ul>
            <ul class="map">
              <li><span></span></li>
            </ul>
            <ul class="edu-data">
              <li><span class="has-icon">학원수강안내</span></li>
              <li><span class="has-icon">법원안내</span></li>
              <li><span class="has-icon">경매서식</span></li>
            </ul>
            <ul class="statistics">
              <li><span class="has-icon">오늘진행건수</span></li>
              <li><span class="has-icon">일일매각가율</span></li>
              <li><span class="has-icon">주간매각가율</span></li>
              <li><span class="has-icon">법원별통계</span></li>
            </ul>
            <ul class="favorite">
              <li><span class="has-icon">경매</span></li>
              <li><span class="has-icon">예정</span></li>
              <li><span class="has-icon">공매</span></li>
              <li><span class="has-icon">입찰달력</span></li>
              <li><span class="has-icon">알림</span></li>
            </ul>
            <ul class="mypage">
              <li><span class="has-icon">메인</span></li>
              <li><span class="has-icon">쿠폰</span></li>
              <li><span class="has-icon">나이스머니 내역</span></li>
              <li><span class="has-icon">결제내역</span></li>
              <li><span class="has-icon">회원정보 수정</span></li>
              <li><span class="has-icon">마케팅 수신 설정</span></li>
            </ul>
          </div>
          <div class="bottom-side">
            <div class="title">
              <h4>고객지원</h4>
            </div>
            <div class="support">
              <ul>
                <li><a href='#' class='needs-underline'>공지사항</a></li>
                <li><a href='#' class='needs-underline'>자주 묻는 질문</a></li>
                <li><a href='#' class='needs-underline'>1:1문의</a></li>
                <li><a href='#' class='needs-underline'>원격지원</a></li>
                <li><a href='#' class='needs-underline'>오류제보</a></li>
                <li><a href='#' class='needs-underline'>삭제요청</a></li>
              </ul>
              <button type="button" class="clear-button">
                <span>닫기</span>
              </button>
            </div>
          </div>
        </div>

      </div>
      <div class="right-menu">
        <dl>
          <dd><a href="#" class="needs-underline">요금안내</a></dd>
          <dd>
            <button type="button" class="needs-underline clear-button" id="applyForTrialToggleBtn">
              <span>무료체험신청</span>
              <i class="icon icon-arrow apply-for-trial"></i>
            </button>

            <div class="contents-dropdown-popup" id="applyForTrialPopup">
              <div class="contents">
                <img src="/images/contents-apply-for-trial.svg">
              </div>
            </div>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</header>
