<header class="header-normal">
  <div class="container">
    <!-- 1. layer -->
    <div class="info-area">
      <div class="left-menu">
        <div class="logo">
          <a href="/">
            <i class="icon-logo"></i>
          </a>
        </div>
        <div class="multi-search">
          <div class="left-side">
            <div class="categoty">
              <button type="button" class="clear-button">
                <span>사건번호</span>
                <i class="icon icon-angle-down"></i>
              </button>
            </div>
            <div class="vertical-line"></div>
            <div class="search-box">
              <input type="text" placeholder="주소 또는 사건번호 검색" />
            </div>
          </div>
          <div class="right-side">
            <button type="button" class="clear-button">
              <img src="/images/icon-search.svg" alt="search-icon" />
            </button>
          </div>
        </div>
      </div>

      <div class="right-menu">
        <div class="site-direction">
          <dl>
            <dd class="logged-in">
              <button type="button" class="needs-underline clear-button">
                <span class="name">홍길동</span>님
                <i class="icon icon-angle-down"></i>
              </button>
            </dd>
            <dd>
              <a href="#" class="needs-underline">회원가입</a>
            </dd>
            <dd><a href="#" class="needs-underline">로그인</a></dd>
            <dd class="benefits">
              <button type="button" class="needs-underline clear-button" id="benefitsToggleBtn">
                <span>회원혜택</span>
                <i class="icon icon-arrow"></i>
              </button>

              <div class="list-dropdown-popup benefits-popup" id="benefitsPopup">
                <ul>
                  <li><a href="#">등급 혜택</a></li>
                  <li><a href="#">신규회원 혜택</a></li>
                </ul>
              </div>
            </dd>
            <dd><a href="#" class="needs-underline">고객센터</a></dd>
          </dl>
        </div>
      </div>
    </div>

    <!-- 2. layer -->
    <div class="menu-area">
      <div class="left-menu">
        <ul>
          <li class="active">경매</li>
          <li>공매</li>
          <li>지도검색</li>
          <li>교육/자료실</li>
          <li>통계</li>
          <li>관심물건</li>
          <li>마이페이지</li>
        </ul>
      </div>
      <div class="right-menu">
        <dl>
          <dd>요금안내</dd>
          <dd>무료체험신청</dd>
        </dl>
      </div>
    </div>
  </div>
</header>
