<nav class="nav-right-side">
  <div class="container">
    <div class="top-side">
      <button type="button" class="alarm">
        <img class='icon icon-alarm' src="/images/icon-lnb-alarm.svg" />
        <p>알림</p>
        <div class="bedge">99+</div>
      </button>
      <button type="button" class="favorite">
        <i class="icon icon-favorite"></i>
        <p>관심</p>
      </button>
      <button type="button" class="recent">
        <i class="icon icon-recent"></i>
        <p>최근 본</p>
      </button>
    </div>
    <div class="bottom-side">
      <button type="button" class="top">
        <i class="icon icon-top"></i>
        <p>TOP</p>
      </button>
      <button id="theme-toggle" type="button" class="theme">
        <i class="icon icon-theme"></i>
      </button>
  </div>
</nav>
